body{
  background-color: pink;
}

#haiku {
font-family: Helvetica, sans-serif;
font-size: 1rem;
color: pink;
padding: 5px;
font-weight: bold;
justify-content: center;
position: absolute;
background-color: red;
}
