#poem{
    font-size: 1.5rem;
    /* display: flex; */
    /* align-content: center; */
    text-align: center;
}

#partOne-poem , #partTwo-poem, #partThree-poem, #partFour-poem {
display: none;
}

/* #answer {
    height: 2rem;
    width: 10rem;
    border: 1px dashed black;
}

.found{
    color: red;
} */