#poem{
    font-size: 2rem;
    /* display: flex; */
    /* align-content: center; */
    text-align: center;
}
#title{
    text-align: center;
    font-size: 2.2rem;
}

#partOne-poem , #partTwo-poem, #partThree-poem, #partFour-poem, #partFive-poem, #partSix-poem, #partSeven-poem,#partEight-poem, #partEight-poem, #partNine-poem, #partTen-poem, #partEleven-poem, #partTwelve-poem {
display: none;
}

/* #answer {
    height: 2rem;
    width: 10rem;
    border: 1px dashed black;
}

.found{
    color: red;
} */