#poem{
    font-size: 2rem;
    /* display: flex; */
    /* align-content: center; */
    text-align: center;
}
#part0{
    text-align: center;
    font-size: 2.2rem;
}

#part1 , #part2, #partThree-poem, #partFour-poem, #partFive-poem, #partSix-poem, #partSeven-poem,#partEight-poem, #partEight-poem, #partNine-poem, #partTen-poem, #partEleven-poem, #partTwelve-poem {
display: none;
}

.read {
    color: pink;
}
.unread {
    color: black;
}

.hover {

}

/* #answer {
    height: 2rem;
    width: 10rem;
    border: 1px dashed black;
}
